*{
    padding: 0;
    margin: 0;
}
html {
    scroll-behavior: smooth;
    /* height: 100%; */
    /* overflow-y:scroll;
    overflow-x:hidden; */
    /* background-color: #000; */
}
body{
    background-color: #000000;
}
::-webkit-scrollbar { display: none; }
.header {
    height:51vw;
    width: auto;
    background-image: url(./ATF/ABOVE\ THE\ FLOW.png);
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    left: 4.5vw;

}

#red {
    background-color: red;
}
.next{
    height: 5vw;
    position: absolute;
    margin-top:45vw;
    z-index: 5;
    left: 46.5vw;
}
.aleft{
    width: auto;
    height: 30vw;
    position: absolute;
    top: 25vw;
    left: 10vw;
    animation-name: lr;
    animation-duration: 1s;
}
@keyframes lr {
    0%   {opacity:0;left:-20vw; bottom:-13vh;}
    100% {opacity:1;left:10vw; bottom:-13vh;}
  }
.aright{
    width: auto;
    height: 30vw;
    position: absolute;
    top: 25vw;
    left: 55.5vw;
    animation-name: rl;
    animation-duration: 1s;
}
@keyframes rl {
    0%   {opacity:0; left:85.5vw; bottom:-12vh;}
    100% {opacity:1; left:55.5vw; bottom:-12vh;}
  }
#black {
    background-color: black;
    height: 152vw;
    width: auto;
}
.second{
    height:100vh;
    width: auto;
    background-image: url(./รอแล้วได้อะไร/wait.svg);
    background-repeat: no-repeat;
    background-position:right center;
    position: relative;
}
.topic{
    text-align: center;
    font-family: 'Chakra Petch';
    font-size: 6vw;
    font-weight: 700;
    color: #ffff00;
    position: absolute;
    left: 0;
    margin-top: 8vw;
    width: 100%;
}
.wait{
    width: auto;
    height: 115vw;
    position: absolute;
    left: 15vw;
    margin-top: 14.5vw;
    z-index: 2;
}
.really{
    text-align: center;
    font-family: 'Chakra Petch';
    font-size: 10vw;
    font-weight: 700;
    color:#fff;
    position: absolute;
    left: 0;
    margin-top: 100vw;
    width: 100%;
}

.scrolling-box {
    background-color: #000000;
    display: block;
    width: 13.5vw;
    height: 22.5vw;
    padding: 5px;
    overflow: auto;
    text-align: center;
    position: absolute;
    margin-top:28.5vw;
    left:43.168%;
    z-index: 3;
}
.msgcard {
    box-shadow: 0 0px 25px rgba(0, 0, 0, .2);
}

.chat-log {
    overflow: auto;
    height: calc(75vh);
}

.chat-log_item {
    background: #ffffff;
    padding: 10px;
    margin: 0 auto 10px;
    max-width: 95%;
    min-width: 25%;
    float: left;
    font-family: 'Chakra Petch';
    font-size: 16px;
    border-radius: 0 20px 20px 20px;    
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
    clear: both;
}

.chat-log_item.chat-log_item-own {
    font-family: 'Chakra Petch';
    font-size: 16px;
    float: right;
    background: #ffffff;
    text-align: right;
    margin-right: 0rem;
    border-radius: 20px 0 20px 20px;
}

.chat-form {
    background: #ffffff;
    padding: 40px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.chat-log_author {
    margin: 0 auto 0em;
    font-size: 12px;
    font-weight: bold;
}

.chat-log_time {
    margin: 0 auto .5em;
    direction: rtl;
    font-size: 12px;
    opacity: 0.5;
}

.conn{
    height: 56.5vw;
    width: auto;
    position: absolute;
    margin-top: -23vw;
    background-color: black;
}
.pink{
    margin-top: 27.4%;
    height: 218vw;
    background-color: rgba(255, 96, 255,1);
}
.where{
    color: #ffff00;
    font-size: 7.5vw;
    text-align: center;
    margin-top: -9vw;
    position: absolute;
    font-family: 'Chakra Petch';
    width: 100%;
    font-weight: 700;
}
.case{
    color: #ffff00;
    font-size: 4.5vw;
    text-align: center;
    margin-top: 25vw;
    position: absolute;
    font-family: 'Chakra Petch';
    left:6%;
    font-weight: 700;
}
.q1 {
    width: auto;
    height: 6vw;
    position: absolute;
    margin-top: 35vw;
    left:35vw;
}
.aq1{
    width: auto;
    height: 8vw;
    position: absolute;
    margin-top: 33vw;
    left:59.5vw;
}
.choose{
    color: #000000;
    font-size: 18pt;
    text-align: center;
    font-family: 'Chakra Petch';
    position: absolute;
    margin-top: 46.5vw;
    width: 100%;
    font-weight: 550;
}
.train{
    
    width: auto;
    height: 10vw;
    position: absolute;
    margin-top: 51.5vw;
    left: 1.5vw;
    animation: duk1 5s linear infinite;
}
@keyframes duk1{
    0%{ left: 1.5vw;}
    14%{ left: 1.5vw;}
    15%{ left: 1vw;}
    17%{ left: 1.5vw;}
    19%{ left: 1vw;}
    21%{ left: 1.5vw;}
    23%{ left: 1vw;}
    24%{ left: 1.5;}
    65%{ left: 1.5vw;}
    67%{ left: 1.5vw;}
    69%{ left: 1vw;}
    71%{ left: 1.5vw;}
    73%{ left: 1vw;}
    75%{ left: 1.5vw;}
    76%{ left: 1.5vw;}
    100%{ left: 1.5vw;}
}
.train:hover,.bus:hover,.taxi:hover,.bike:hover,.bus1:hover,.ship:hover,.elec:hover,.bus2:hover,.taxi1:hover{
    filter: drop-shadow(0 0 50px rgb(76, 78, 2));}
.bus{
    width: auto;
    height: 10vw;
    position: absolute;
    margin-top: 51.5vw;
    left: 35vw;
    animation: duk2 5s linear infinite;
}
@keyframes duk2{
    0%{ left: 35vw;}
    24%{ left: 35vw;}
    25%{ left: 34.5vw;}
    27%{ left: 35vw;}
    29%{ left: 34.5vw;}
    31%{ left: 35vw;}
    33%{ left: 34.5vw;}
    34%{ left: 35vw;}
    75%{ left: 35vw;}
    77%{ left: 35vw;}
    79%{ left: 34.5vw;}
    81%{ left: 35vw;}
    83%{ left: 34.5vw;}
    85%{ left: 35vw;}
    86%{ left: 35vw;}
    100%{ left: 35vw;}
}
.taxi{
    width: auto;
    height: 13vw;
    position: absolute;
    margin-top: 49vw;
    left: 65vw;
    animation: duk3 5s linear infinite;
}
@keyframes duk3{
    0%{ left: 65vw;}
    34%{ left: 65vw;}
    35%{ left: 64.5vw;}
    37%{ left: 65vw;}
    39%{ left: 64.5vw;}
    41%{ left: 65vw;}
    43%{ left: 64.5vw;}
    44%{ left: 65vw;}
    85%{ left: 65vw;}
    87%{ left: 65vw;}
    89%{ left: 64.5vw;}
    91%{ left: 65vw;}
    93%{ left: 64.5vw;}
    95%{ left: 65vw;}
    96%{ left: 65vw;}
    100%{ left: 65vw;}
}
.ans1{
    transition: 0.5s;
    width: auto;
    height: 10vw;
    position: absolute;
    margin-top: 62vw;
    left:12vw;
}
.ans2{
    transition: 0.5s;
    width: auto;
    height: 10vw;
    position: absolute;
    margin-top: 62vw;
    left:42vw;
}
.ans3{
    transition: 0.5s;
    width: auto;
    height: 10vw;
    position: absolute;
    margin-top: 62vw;
    left:72vw;
}
.a1 {
    width: auto;
    height: 6vw;
    position: absolute;
    margin-top: 76vw;
    left:35vw;
}
.aq2{
    width: auto;
    height: 8vw;
    position: absolute;
    margin-top: 74vw;
    left:59.5vw;
}
.case1{
    color: #ffff00;
    font-size: 4.5vw;
    text-align: center;
    margin-top: 89vw;
    position: absolute;
    font-family: 'Chakra Petch';
    left:6%;
    font-weight: 700;
}
.q2 {
    width: auto;
    height: 6vw;
    position: absolute;
    margin-top: 99vw;
    left:35vw;
}
.aq3{
    width: auto;
    height: 9vw;
    position: absolute;
    margin-top: 97vw;
    left:59.5vw;
}
.choose1{
    color: #000000;
    font-size: 18pt;
    text-align: center;
    font-family: 'Chakra Petch';
    position: absolute;
    margin-top: 110.5vw;
    width: 100%;
    font-weight: 550;
}
.bike{
    width: auto;
    height: 13vw;
    position: absolute;
    margin-top: 112.5vw;
    left: 12vw;
    animation: duk4 5s linear infinite;
}
@keyframes duk4{
    0%{ left: 12vw}
    14%{ left: 12vw}
    15%{ left: 11.5vw;}
    17%{ left: 12vw}
    19%{ left: 11.5vw;}
    21%{ left: 12vw}
    23%{ left: 11.5vw;}
    24%{ left: 1.5;}
    65%{ left: 12vw}
    67%{ left: 12vw}
    69%{ left: 11.5vw;}
    71%{ left: 12vw}
    73%{ left: 11.5vw;}
    75%{ left: 12vw}
    76%{ left: 12vw}
    100%{ left: 12vw}
}
.bus1{
    width: auto;
    height: 10vw;
    position: absolute;
    margin-top: 115.5vw;
    left: 33.5vw;
    animation: duk8 5s linear infinite;
}
@keyframes duk8{
    0%{ left:  33.5vw}
    24%{ left:  33.5vw}
    25%{ left: 33vw;}
    27%{ left:  33.5vw}
    29%{ left: 33vw;}
    31%{ left:  33.5vw}
    33%{ left: 33vw;}
    34%{ left:  33.5vw}
    75%{ left:  33.5vw}
    77%{ left:  33.5vw}
    79%{ left: 33vw;}
    81%{ left:  33.5vw}
    83%{ left: 33vw;}
    85%{ left:  33.5vw}
    86%{ left:  33.5vw}
    100%{ left:  33.5vw}
}
.ship{
    width: auto;
    height: 10vw;
    position: absolute;
    margin-top: 117.5vw;
    left: 60vw;
    animation: duk6 5s linear infinite;
}
@keyframes duk6{
    0%{ left: 60vw;}
    34%{ left: 60vw;}
    35%{ left: 59.5vw}
    37%{ left: 60vw;}
    39%{ left: 59.5vw}
    41%{ left: 60vw;}
    43%{ left: 59.5vw}
    44%{ left: 60vw;}
    85%{ left: 60vw;}
    87%{ left: 60vw;}
    89%{ left: 59.5vw}
    91%{ left: 60vw;}
    93%{ left: 59.5vw}
    95%{ left: 60vw;}
    96%{ left: 60vw;}
    100%{ left: 60vw;}
}
.ans4{
    transition: 0.5s;
    width: auto;
    height: 10vw;
    position: absolute;
    margin-top: 127vw;
    left:10vw;
}
.ans5{
    transition: 0.5s;
    width: auto;
    height: 10vw;
    position: absolute;
    margin-top: 127vw;
    left:41vw;
}
.ans6{
    transition: 0.5s;
    width: auto;
    height: 10vw;
    position: absolute;
    margin-top: 127vw;
    left:72vw;
}
.a2 {
    width: auto;
    height: 6vw;
    position: absolute;
    margin-top: 141vw;
    left:35vw;
}
.aq4{
    width: auto;
    height: 9vw;
    position: absolute;
    margin-top: 139vw;
    left:59.5vw;
}
.case2{
    color: #ffff00;
    font-size: 4.5vw;
    text-align: center;
    margin-top: 154vw;
    position: absolute;
    font-family: 'Chakra Petch';
    left:6%;
    font-weight: 700;
}
.q3 {
    width: auto;
    height: 6vw;
    position: absolute;
    margin-top: 164vw;
    left:35vw;
}
.aq5{
    width: auto;
    height: 9vw;
    position: absolute;
    margin-top: 162vw;
    left:59.5vw;
}
.choose2{
    color: #000000;
    font-size: 18pt;
    text-align: center;
    font-family: 'Chakra Petch';
    position: absolute;
    margin-top: 175.5vw;
    width: 100%;
    font-weight: 550;
}
.elec{
    width: auto;
    height: 11vw;
    position: absolute;
    margin-top: 179vw;
    left: -34vw;
    animation: duk7 5s linear infinite;
}
@keyframes duk7{
    0%{ left: -34vw}
    14%{ left: -34vw}
    15%{ left: -34.5vw;}
    17%{ left: -34vw}
    19%{ left: -34.5vw;}
    21%{ left: -34vw}
    23%{ left: -34.5vw;}
    24%{ left: 1.5;}
    65%{ left: -34vw}
    67%{ left: -34vw}
    69%{ left: -34.5vw;}
    71%{ left: -34vw}
    73%{ left: -34.5vw;}
    75%{ left: -34vw}
    76%{ left: -34vw}
    100%{ left: -34vw}
}
.bus2{
    width: auto;
    height: 10vw;
    position: absolute;
    margin-top: 180.5vw;
    left: 33.5vw;
    animation: duk8 5s linear infinite;
}
@keyframes duk8{
    0%{ left:  33.5vw}
    24%{ left:  33.5vw}
    25%{ left: 33vw;}
    27%{ left:  33.5vw}
    29%{ left: 33vw;}
    31%{ left:  33.5vw}
    33%{ left: 33vw;}
    34%{ left:  33.5vw}
    75%{ left:  33.5vw}
    77%{ left:  33.5vw}
    79%{ left: 33vw;}
    81%{ left:  33.5vw}
    83%{ left: 33vw;}
    85%{ left:  33.5vw}
    86%{ left:  33.5vw}
    100%{ left:  33.5vw}
}
.taxi1{
    width: auto;
    height: 13vw;
    position: absolute;
    margin-top: 178vw;
    left: 65vw;
    animation: duk9 5s linear infinite;
}
@keyframes duk9{
    0%{ left: 65vw;}
    34%{ left: 65vw;}
    35%{ left: 64.5vw;}
    37%{ left: 65vw;}
    39%{ left: 64.5vw;}
    41%{ left: 65vw;}
    43%{ left: 64.5vw;}
    44%{ left: 65vw;}
    85%{ left: 65vw;}
    87%{ left: 65vw;}
    89%{ left: 64.5vw;}
    91%{ left: 65vw;}
    93%{ left: 64.5vw;}
    95%{ left: 65vw;}
    96%{ left: 65vw;}
    100%{ left: 65vw;}
}
.ans7{
    transition: 0.5s;
    width: auto;
    height: 10vw;
    position: absolute;
    margin-top: 192vw;
    left:10vw;
}
.ans8{
    transition: 0.5s;
    width: auto;
    height: 10vw;
    position: absolute;
    margin-top: 192vw;
    left:41vw;
}
.ans9{
    transition: 0.5s;
    width: auto;
    height: 10vw;
    position: absolute;
    margin-top: 192vw;
    left:72vw;
}
.a3 {
    width: auto;
    height: 6vw;
    position: absolute;
    margin-top: 206vw;
    left:35vw;
}
.aq6{
    width: auto;
    height: 9vw;
    position: absolute;
    margin-top: 204vw;
    left:59.5vw;
}
.tri{
    width: auto;
    height: 25.1vw;
    position: absolute;
    margin-top:-0.05vh;
}
.yellow{
    background-color: #ffff00;
    height: 301.7vw;
}
.day{
    color:  rgba(255, 96, 255,1);
    font-size: 5.5vw;
    text-align: center;
    margin-top: 20.01vw;
    position: absolute;
    font-family: 'Chakra Petch';
    width: 100%;
    font-weight: 700;
}
.allp{
    width: auto;
    height: 56.5vw;
    position: absolute;
    margin-top: 20vw;
}
.kid{
    color: #000000;
    font-size: 4vw;
    text-align: center;
    font-family: 'Chakra Petch';
    position: absolute;
    margin-top: 63.5vw;
    left: 9vw;
    font-weight: 700;
}
.nor{
    color: #000000;
    font-size: 4vw;
    text-align: center;
    font-family: 'Chakra Petch';
    position: absolute;
    margin-top: 63.5vw;
    left: 22.5vw;
    font-weight: 700;
}
.inj{
    color: #000000;
    font-size: 4vw;
    text-align: center;
    font-family: 'Chakra Petch';
    position: absolute;
    margin-top: 63.5vw;
    left: 34.5vw;
    font-weight: 700;
}
.old{
    color: #000000;
    font-size: 4vw;
    text-align: center;
    font-family: 'Chakra Petch';
    position: absolute;
    margin-top: 63.5vw;
    left: 54.5vw;
    font-weight: 700;
}
.preg{
    color: #000000;
    font-size: 4vw;
    text-align: center;
    font-family: 'Chakra Petch';
    position: absolute;
    margin-top: 63.5vw;
    left: 68.5vw;
    font-weight: 700;
}
.bad{
    color: #000000;
    font-size: 4vw;
    text-align: center;
    font-family: 'Chakra Petch';
    position: absolute;
    margin-top: 63.5vw;
    left: 82.5vw;
    font-weight: 700;
}
.bts{
    width: auto;
    height: 54vw;
    position: absolute;
    margin-top: 75vw;
    left: 6.2vw;
    animation-name: bs;
    animation-duration: 1s;
}
.ytext1{
    color: #000000;
    font-size: 4vw;
    text-align: center;
    font-family: 'Chakra Petch';
    position: absolute;
    margin-top: 78vw;
    left: 55vw;
    font-weight: 700;
}
.kid1{
    width: auto;
    height: 6.5vw;
    position: absolute;
    margin-top: 84vw;
    left:40vw;
}
.nor1{
    width: auto;
    height: 5vw;
    position: absolute;
    margin-top: 76.8vw;
    left:12.5vw;
}
.inj1{
    width: auto;
    height: 5.5vw;
    position: absolute;
    margin-top: 96.2vw;
    left:16.5vw;
}
.old1{
    width: auto;
    height: 5vw;
    position: absolute;
    margin-top: 88.5vw;
    left:51vw;
}
.preg1{
    width: auto;
    height: 6.5vw;
    position: absolute;
    margin-top: 91vw;
    left:68vw;
}
.bad1{
    width: auto;
    height: 5vw;
    position: absolute;
    margin-top: 99vw;
    left:84vw;
}
.bigbusmove{
    width: auto;
    height: 54vw;
    position: absolute;
    margin-top: 148vw;
    left: 3.2vw;
}
.bigbusmove1{
    width: auto;
    height: 54vw;
    position: absolute;
    margin-top: 148vw;
    left: 3.2vw;
    animation: bi1 1s linear infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);
}
@keyframes bi1 {
  0% { left: 8vw; transform: scale(0.5);}
  25% { left: 8vw;  transform: scale(0.5);}
  28%{ left: 3.2vw; transform: scale(1);}
}
.bigbus{
    width: auto;
    height: 54vw;
    position: absolute;
    margin-top: 148vw;
    left: 3.2vw;
}
.ytext2{
    color: #000000;
    font-size: 4vw;
    text-align: center;
    font-family: 'Chakra Petch';
    position: absolute;
    margin-top: 145vw;
    left: 55vw;
    font-weight: 700;
}
.nor2{
    width: auto;
    height: 5vw;
    position: absolute;
    margin-top: 162.2vw;
    left:26.5vw;
}
.inj2{
    width: auto;
    height: 5.5vw;
    position: absolute;
    margin-top: 170.5vw;
    left:60vw;
}
.old2{
    width: auto;
    height: 5vw;
    position: absolute;
    margin-top: 177.5vw;
    left:74vw;
}
.preg2{
    width: auto;
    height: 5vw;
    position: absolute;
    margin-top: 173.5vw;
    left:20vw;
}
.bad2{
    width: auto;
    height: 5vw;
    position: absolute;
    margin-top: 163.5vw;
    left:85.5vw;
}
.zebra{
    width: auto;
    height: 47vw;
    position: absolute;
    margin-top: 230vw;
    left: 6.2vw;
    z-index: 2;
}
.pzebra{
    width: auto;
    height: 47vw;
    position: absolute;
    margin-top: 230vw;
    left: 6.2vw;
    z-index: 2;
}
.mzebra1{
    width: auto;
    height: 27.5vw;
    position: absolute;
    margin-top: 229vw;
    left: 10vw;
    /* animation: ze1 0.5s linear infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s); */
}
@keyframes ze1 {
    0% { left: -10vw; transform: scale(0.5);}
    20% { left: 4vw;  transform: scale(0.5);}
    40%{ left: 10vw; transform: scale(1);}
 

}
.mzebra2{
    transition: 0.25s;
    width: auto;
    height: 26vw;
    position: absolute;
    margin-top: 235.5vw;
    left: 40.5vw;
    z-index: 2;
    /* animation: ze2 1s linear infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s); */
}
@keyframes ze2 {
  0% { left: 10vw; transform: scale(1);}
  33% { left: 10vw;  transform: scale(1);}
  35%{ left: 95vw; transform: scale(1);}
}
.ytext3{
    color: #000000;
    font-size: 4vw;
    text-align: center;
    font-family: 'Chakra Petch';
    position: absolute;
    margin-top: 220vw;
    left: 45vw;
    font-weight: 700;
}
.kid3{
    width: auto;
    height: 5vw;
    position: absolute;
    margin-top: 237vw;
    left:47vw;
    z-index: 3;
}
.nor3{
    width: auto;
    height: 4.5vw;
    position:absolute;
    margin-top: 228.5vw;
    left:82vw;
}
.inj3{
    width: auto;
    height: 5vw;
    position: absolute;
    margin-top: 256.5vw;
    left:53.5vw;
    z-index: 3;
}
.old3{
    width: auto;
    height: 5vw;
    position: absolute;
    margin-top: 239vw;
    left:21vw;
}
.preg3{
    width: auto;
    height: 5vw;
    position: absolute;
    margin-top: 230.7vw;
    left:49vw;
}
.bad3{
    width: auto;
    height: 5.5vw;
    position: absolute;
    margin-top: 251vw;
    left:9vw;
}
.asd{
    height: 50vw;
    background-color: yellow;
}
.bigship{
    width: auto;
    height: 56.3vw;
    position: absolute;
    top: 751vw;
    left: 0vw;
    animation: a1 5s linear infinite;
}
@keyframes a1{
    0%{transform: rotate(0deg);}
    25%{transform: rotate(5deg);}
    50%{transform: rotate(0deg);}
    75%{transform: rotate(-5deg);}
    100%{transform: rotate(0deg);}
}
.pship{
    width: auto;
    height: 56.3vw;
    position: absolute;

}
.ytext4{
    color: #000000;
    font-size: 4vw;
    text-align: center;
    font-family: 'Chakra Petch';
    position: absolute;
    margin-top: 300vw;
    left: 62vw;
    font-weight: 700;
}
.kid4{
    width: auto;
    height: 5vw;
    position: absolute;
    margin-top: 34vw;
    left:67.5vw;
    z-index: 3;
}
.nor4{
    width: auto;
    height: 4.5vw;
    position:absolute;
    margin-top: 11.1vw;
    left:41.3vw;
}
.inj4{
    width: auto;
    height: 5vw;
    position: absolute;
    margin-top: 32vw;
    left:49vw;
    z-index: 3;
}
.old4{
    width: auto;
    height: 5vw;
    position: absolute;
    margin-top: 27.5vw;
    left:21.5vw;
}
.preg4{
    width: auto;
    height: 5vw;
    position: absolute;
    margin-top: 13.5vw;
    left:23vw;
}
.bad4{
    width: auto;
    height: 5vw;
    position: absolute;
    margin-top: 17vw;
    left:74vw;
}
.orange{
    background-color: rgba(255, 98, 0,1);
    height: 262vw;
}
.orange2{
    background-color: rgba(255, 98, 0,1);
    height: 262vw;
}

.homeCaption {
	position:fixed;
    top: 24vw;
    left: 50vw;
    transform: translate(-50%, -50%);
	/* color: rgb(255, 20, 20); */
	z-index: 1200;
    font-family: 'Chakra Petch';
}

#section6_exten {    
    height:300vw;
    /* background: orange; */
    display: inline-block;
    width: 100vw;
}
.color-violet {
    background-color: #7A4EAB;
}
.color-indigo {
background-color: #4332CF;
}
.color-blue {
background-color: #2F8FED;
}
.color-green {
background-color: #4DCF42;
}
.color-yellow {
background-color: #FAEB33;
}
.color-orange {
background-color: #F19031;
}
.color-red {
background-color: #F2293A;
}
.color-black {
background-color: #000000;
}

.square{ 
    width: 100vw;
}
.beforemoney{
    color: #ffff00;
    opacity: 0;
    font-size: 5.5vw;
    text-align: center;
    margin-top: 30vw;
    position: absolute;
    font-family: 'Chakra Petch';
    width: 100vw;
    font-weight: 700vw;
}
.money{
    color: #ffff00;
    font-size: 5.5vw;
    text-align: center;
    margin-top: 35vw;
    position: absolute;
    font-family: 'Chakra Petch';
    width: 100vw;
    font-weight: 700vw;
}
.b10{
    max-width: 100vw;
    height: 13vw;
    width: 13vw;
    position: absolute;
    margin-top: 52.5vw;
    left: 3.5vw;
    
}
.b50{
    max-width: 100vw;
    position: absolute;
    margin-top: 53vw;
    left: 20vw;
    height: 12vw;
    width: 22vw;
}
.b100{
    max-width: 100vw;
    position: absolute;
    margin-top: 53vw;
    left: 45.5vw;
    height: 12vw;
    width: 22vw;
}
.b500{
    max-width: 100vw;
  
    position: absolute;
    margin-top: 53vw;
    left: 70.8vw;
    height: 12vw;
    width: 22vw;
}
.mtext1{
    color: #ffffff;
    font-size: 5vw;
    text-align: center;
    font-family: 'Chakra Petch';
    position: absolute;
    margin-top: 70vw;
    left: 8vw;
    font-weight: 700vw;
}
.mtext2{
    color: #ffffff;
    font-size: 5vw;
    text-align: center;
    font-family: 'Chakra Petch';
    position: absolute;
    margin-top: 70vw;
    left: 28vw;
    font-weight: 700;
}
.mtext3{
    color: #ffffff;
    font-size: 5vw;
    text-align: center;
    font-family: 'Chakra Petch';
    position: absolute;
    margin-top: 70vw;
    left: 53vw;
    font-weight: 700;
}
.mtext4{
    color: #ffffff;
    font-size: 5vw;
    text-align: center;
    font-family: 'Chakra Petch';
    position: absolute;
    margin-top: 70vw;
    left: 78vw;
    font-weight: 700;
}
.mase1{
    color: #ffffff;
    font-size: 2vw;
    text-align: center;
    font-family: 'Chakra Petch';
    position: absolute;
    margin-top: 95vw;
    margin-left: 5vw;
    font-weight: 700;
}
.pq1{
    color: #ffffff;
    font-size: 1vw;
    text-align: center;
    font-family: 'Chakra Petch';
    position: absolute;
    margin-top: 101vw;
    width: 100vw;
    font-weight: 400;
}
.b10a{
    max-width: 100vw;
    position: absolute;
    margin-top: 105.5vw;
    left: 9vw;
    height: 10.5vw;
    width: 10.5vw;
}
.b50a{
    max-width: 100vw;
    position: absolute;
    margin-top: 106vw;
    left: 27vw;
    height: 10vw;
    width: 20vw;
}
.b100a{
    max-width: 100vw;
    position: absolute;
    margin-top: 106vw;
    left: 50vw;
    height: 10vw;
    width: 20vw;
}
.b500a{
    max-width: 100vw;
    position: absolute;
    margin-top: 106vw;
    left: 73vw;
    height: 10vw;
    width: 20vw;
}
.mase2{
    color: #ffffff;
    font-size: 2vw;
    text-align: center;
    font-family: 'Chakra Petch';
    position: absolute;
    margin-top: 150vw;
    padding-left: 0vw;
    margin-left: 5vw;
    font-weight: 700;
}
.pq2{
    color: #ffffff;
    font-size: 1vw;
    text-align: center;
    font-family: 'Chakra Petch';
    position: absolute;
    margin-top: 164vw;
    width: 100vw;
    font-weight: 400;
}
.b10b{
    max-width: 100vw;
    position: absolute;
    margin-top: 169.5vw;
    left: 9vw;
    height: 10.5vw;
    width: 10.5vw;
}
.b50b{
    max-width: 100vw;
    position: absolute;
    margin-top: 170vw;
    left: 27vw;
    height: 10vw;
    width: 20vw;
}
.b100b{
    max-width: 100vw;
    position: absolute;
    margin-top: 170vw;
    left: 50vw;
    height: 10vw;
    width: 20vw;
}
.b500b{
    max-width: 100vw;
    position: absolute;
    margin-top: 170vw;
    left: 73vw;
    height: 10vw;
    width: 20vw;
}
.mase3{
    color: #ffffff;
    font-size: 2vw;
    text-align: center;
    font-family: 'Chakra Petch';
    position: absolute;
    margin-top: 214vw;
    padding-left: 0vw;
    margin-left: 5vw;
    font-weight: 700;
}
.pq3{
    color: #ffffff;
    font-size: 1vw;
    text-align: center;
    font-family: 'Chakra Petch';
    position: absolute;
    margin-top: 226vw;
    width: 100vw;
    font-weight: 400;
}
.b10c{
    max-width: 100vw;
    position: absolute;
    margin-top: 231.5vw;
    left: 9vw;
    height: 10.5vw;
    width: 10.5vw;
}
.b50c{
    max-width: 100vw;
    position: absolute;
    margin-top: 232vw;
    left: 27vw;
    height: 10vw;
    width: 20vw;
}
.b100c{
    max-width: 100vw;
    position: absolute;
    margin-top: 232vw;
    left: 50vw;
    height: 10vw;
    width: 20vw;
}
.b500c{
    max-width: 100vw;
    position: absolute;
    margin-top: 232vw;
    left: 73vw;
    height: 10vw;
    width: 20vw;
}
.c1b10{
    width: auto;
    height: 13vw;
    position: absolute;
    margin-top: 118vw;
    left:4vw;
}
.c1b50{
    width: auto;
    height: 13vw;
    position: absolute;
    margin-top: 118vw;
    left:27vw;
}
.c1b100{
    width: auto;
    height: 13vw;
    position: absolute;
    margin-top: 118vw;
    left:50vw;
}
.c1b500{
    width: auto;
    height: 13vw;
    position: absolute;
    margin-top: 118vw;
    left:73vw;
}
.c2b10{
    width: auto;
    height: 13vw;
    position: absolute;
    margin-top: 182vw;
    left:4vw;
}
.c2b50{
    width: auto;
    height: 13vw;
    position: absolute;
    margin-top: 182vw;
    left:27vw;
}
.c2b100{
    width: auto;
    height: 13vw;
    position: absolute;
    margin-top: 182vw;
    left:50vw;
}
.c2b500{
    width: auto;
    height: 13vw;
    position: absolute;
    margin-top: 182vw;
    left:73vw;
}
.c3b10{
    width: auto;
    height: 13vw;
    position: absolute;
    margin-top: 244vw;
    left:4vw;
}
.c3b50{
    width: auto;
    height: 13vw;
    position: absolute;
    margin-top: 244vw;
    left:27vw;
}
.c3b100{
    width: auto;
    height: 13vw;
    position: absolute;
    margin-top: 244vw;
    left:50vw;
}
.c3b500{
    width: auto;
    height: 13vw;
    position: absolute;
    margin-top: 244vw;
    left:73vw;
}
.newblack{
    background-color: #000000;
    height: 91vw;
    background-image: url(./Pic/section6/part1/01บางอย่างก็ดี_A.jpg);
}
section{
    justify-content: space-around;
    display: flex;
  
  
    /* background-color:orange; */
    /* border: 1px solid rgb(255, 0, 0); */
  
    height: 130vh;
    width: 100%;
  }
.square{
    width: auto;
    height: 25.95vw;
    position: absolute;
    margin-top: 0vw;
    z-index: 1;
}
.part1{
    height: 91vw;
    position: absolute;
    left: -26vw;
}
.hide{
    color: #ffffff;
    opacity: 0;
    font-size: 5.5vw;
    text-align: center;
    font-family: 'Chakra Petch';
    position: absolute;
    margin-top: 34vw;
    margin-left: 26vw;
    font-weight: 550;    
}
.good{
    color: #ffffff;
    font-size: 5.5vw;
    text-align: center;
    font-family: 'Chakra Petch';
    position: absolute;
    margin-top: 44vw;
    margin-left: 26vw;
    font-weight: 550;    
    z-index: 1;
}
.goo1{
    color: #ffffff;
    font-size: 5.5vw;
    text-align: center;
    font-family: 'Chakra Petch';
    position: absolute;
    margin-top: 51vw;
    margin-left: 26vw;
    font-weight: 550;   
    z-index: 1; 
}
.goo2{
    color: #ffffff;
    font-size: 5.5vw;
    text-align: center;
    font-family: 'Chakra Petch';
    position: absolute;
    margin-top: 58vw;
    margin-left: 26vw;
    font-weight: 550;    
    z-index: 1; 
}
.goo3{
    color: #ffffff;
    font-size: 5.5vw;
    text-align: center;
    font-family: 'Chakra Petch';
    position: absolute;
    margin-top: 65vw;
    margin-left: 26vw;
    font-weight: 550;   
    z-index: 1;  
}
.as1{
    background-color: rgba(255, 98, 0,1);
    height:5vw;
    width: 38vw;
    position: absolute;
    margin-top:45.3vw;
    left:25vw;
    z-index: 0;
}
.as2{
    background-color: rgba(255, 98, 0,1);
    height:5vw;
    width: 38vw;
    position: absolute;
    margin-top:52.3vw;
    left:25vw;
    z-index: 0;
}
.as3{
    background-color: rgba(255, 96, 255,1);
    height:5vw;
    width: 41vw;
    position: absolute;
    margin-top:66.3vw;
    left:41vw;
    z-index: 0;
}
.black2{
    background-color: #000000;
    height: 150vw;
}
.good1{
    color: #ffffff;
    font-size: 5.5vw;
    text-align: center;
    font-family: 'Chakra Petch';
    position: absolute;
    margin-top: 23vw;
    width: 100%;
    font-weight: 550;
}
.good2{
    color: #ffffff;
    font-size: 5.5vw;
    text-align: center;
    font-family: 'Chakra Petch';
    position: absolute;
    margin-top: 70vw;
    width: 100%;
    font-weight: 550;
}
.good3{
    color: #ffffff;
    font-size: 5.5vw;
    text-align: center;
    font-family: 'Chakra Petch';
    position: absolute;
    margin-top: 117vw;
    width: 100%;
    font-weight: 550;
}
.sahed1{
    width: auto;
    height: 52.6vw;
    position: absolute;
    margin-top: 20vw;
    left: 0vw;
}
.sahed2{
    width: auto;
    height: 62.7vw;
    position: absolute;
    margin-top: 72vw;
    left: -7.5vw;
}
.tana{
    color: #ffff00;
    font-size: 2.5vw;
    text-align: center;
    font-family: 'Chakra Petch';
    position: absolute;
    margin-top: 62vw;
    left: 17vw;
    font-weight: 700;
}
.sata{
    color: #ffff00;
    font-size: 2.5vw;
    text-align: center;
    font-family: 'Chakra Petch';
    position: absolute;
    margin-top: 122vw;
    left: 17vw;
    font-weight: 700;
}
.left{
    background-color:  rgba(255, 98, 0,1);
    height: 56.25vw;
}
.tg{
    color: rgba(0, 255, 165,1);
    font-size: 5.5vw;
    text-align: center;
    font-family: 'Chakra Petch';
    position: absolute;
    margin-top: 20vw;
    width: 100%;
    font-weight: 550;
}
.tg1{
    color: rgba(0, 255, 165,1);
    font-size: 5.5vw;
    text-align: center;
    font-family: 'Chakra Petch';
    position: absolute;
    margin-top: 28vw;
    left: -3vw;
    width: 100%;
    font-weight: 550;
}
.tg2{
    color: rgba(0, 255, 165,1);
    font-size: 5.5vw;
    text-align: center;
    font-family: 'Chakra Petch';
    position: absolute;
    margin-top: 36vw;
    left: -4.5vw;
    width: 100%;
    font-weight: 550;
}
.gif1{
    width: auto;
    height: 56.25vw;
    position: absolute;
}
.gt1{
    color: #ffffff;
    font-size: 1.5vw;
    text-align: center;
    font-family: 'Chakra Petch';
    position: absolute;
    margin-top: 43vw;
    width: 100%;
}
.gt2{
    color: #ffffff;
    font-size: 1.5vw;
    text-align: center;
    font-family: 'Chakra Petch';
    position: absolute;
    margin-top: 45vw;
    width: 100%;
}
.gt3{
    color: #ffffff;
    font-size: 1.5vw;
    text-align: center;
    font-family: 'Chakra Petch';
    position: absolute;
    margin-top: 47vw;
    width: 100%;
}
.gif2{
    width: auto;
    height: 56.25vw;
    position: absolute;
}
.gif3{
    width: auto;
    height: 56.25vw;
    position: absolute;
}
.gif4{
    width: auto;
    height: 56.25vw;
    position: absolute;
}
.black3{
    background-color:  black;
    height: 56.25vw;
}
.part5{
    height: 56.25vw;
    position: absolute;
    left: 0vw;
    z-index: 2;
}
.part51{
    height: 35vw;
    position: absolute;
    left: 35vw;
    margin-top:21.2vw;
    z-index: 2;
}
.da1{
    color: rgba(255, 96, 255,1);
    font-size: 5.5vw;
    text-align: center;
    font-family: 'Chakra Petch';
    position: absolute;
    margin-top: 3vw;
    left: -27vw;
    width: 100%;
    font-weight: 550;
    z-index: 3;
}
.da2{
    color: rgba(255, 96, 255,1);
    font-size: 5.5vw;
    text-align: center;
    font-family: 'Chakra Petch';
    position: absolute;
    margin-top: 11vw;
    left: -9vw;
    width: 100%;
    font-weight: 550;
    z-index: 3;
}
.da3{
    color: rgba(255, 96, 255,1);
    font-size: 5.5vw;
    text-align: center;
    font-family: 'Chakra Petch';
    position: absolute;
    margin-top: 19vw;
    left: -24vw;
    width: 100%;
    font-weight: 550;
    z-index: 3;
}
.thun{
    background-color: yellow;
    height:0.7vw;
    width: 9vw;
    position: absolute;
    margin-top:7vw;
    left:27.5vw;
    z-index: 3;
}
.thun1{
    background-color: rgb(0, 0, 255);
    height:0.7vw;
    width: 41vw;
    position: absolute;
    margin-top:17vw;
    left:31vw;
    z-index: 3;
}
.thun2{
    background-color:  rgb(0, 0, 255);
    height:0.7vw;
    width: 29vw;
    position: absolute;
    margin-top:25vw;
    left:12vw;
    z-index: 3;
}
.part6{
    width: auto;
    height: 83.56vw;
    position: absolute;
    margin-top:-27vw;
    left: -15vw;
    z-index: 0;
}
.tt1{
    color: rgb(255, 255, 255);
    font-size: 5.5vw;
    text-align: center;
    font-family: 'Chakra Petch';
    position: absolute;
    margin-top: 5vw;
    left: -27vw;
    width: 100%;
    font-weight: 550;
    z-index: 3;
}
.tt2{
    color: rgb(255, 255, 255);
    font-size: 5.5vw;
    text-align: center;
    font-family: 'Chakra Petch';
    position: absolute;
    margin-top: 13vw;
    left: -22.5vw;
    width: 100%;
    font-weight: 550;
    z-index: 3;
}
.tt3{
    color: rgb(255, 255, 255);
    font-size: 5.5vw;
    text-align: center;
    font-family: 'Chakra Petch';
    position: absolute;
    margin-top: 21vw;
    left: -18vw;
    width: 100%;
    font-weight: 550;
    z-index: 3;
}
.tt4{
    color: rgb(255, 255, 255);
    font-size: 5.5vw;
    text-align: center;
    font-family: 'Chakra Petch';
    position: absolute;
    margin-top: 29vw;
    left: -39vw;
    width: 100%;
    font-weight: 550;
    z-index: 3;
}
.tt5{
    color: rgb(255, 255, 255);
    font-size: 5.5vw;
    text-align: center;
    font-family: 'Chakra Petch';
    position: absolute;
    margin-top: 37vw;
    left: -28vw;
    width: 100%;
    font-weight: 550;
    z-index: 3;
}
.tt6{
    color: blue;
    font-size: 5.5vw;
    text-align: center;
    font-family: 'Chakra Petch';
    position: absolute;
    margin-top: 29vw;
    left: -17vw;
    width: 100%;
    font-weight: 550;
    z-index: 3;
}
.tt7{
    color: rgb(255, 255, 255);
    font-size: 5.5vw;
    text-align: center;
    font-family: 'Chakra Petch';
    position: absolute;
    margin-top: 29vw;
    left: 15.3vw;
    width: 100%;
    font-weight: 550;
    z-index: 3;
}
.ad1{
    background-color:rgba(255, 96, 255,1);
    height:6vw;
    width: 17vw;
    position: absolute;
    margin-top:6vw;
    left:21vw;
    z-index: 0;
}
.ad2{
    background-color:rgba(255, 96, 255,1);
    height:6vw;
    width: 24vw;
    position: absolute;
    margin-top:14vw;
    left:22vw;
    z-index: 0;
}
.ad3{
    background-color:rgba(255, 96, 255,1);
    height:6vw;
    width: 32vw;
    position: absolute;
    margin-top:22vw;
    left:22.5vw;
    z-index: 0;
}
.ad4{
    background-color:yellow;
    height:6.5vw;
    width: 35vw;
    position: absolute;
    margin-top:29vw;
    left:15vw;
    z-index: 0;
}
.part7{
    width: auto;
    height: 70vw;
    position: absolute;
    margin-top:0vw;
    left: -15vw;
    z-index: 0;
}
.text1{
    color: rgb(255, 255, 255);
    font-size: 5.5vw;
    text-align: center;
    font-family: 'Chakra Petch';
    position: absolute;
    margin-top: 10vw;
    left: 0vw;
    width: 100%;
    font-weight: 550;
}
.pic1{
    width: 30vw;
    height: 100vw;
    position: absolute;
    left:36vw;
    margin-top:30vw;
}
.pic2{
    width: auto;
    height: 5vw;
    position: absolute;
    left:90vw;
    margin-top:47vw;
}
.black4{
    background-color:  black;
    height: 70vw;
}
.pic3{
    width: auto;
    height: 10vw;
    position: absolute;
    left:39vw;
    margin-top:44vw;
}
.pic4{
    width: auto;
    height: 10vw;
    position: absolute;
    left:53.5vw;
    margin-top:44vw;
}
.dark5{
    background-color:  black;
    height: 95.7vw;
    margin-top: -1.5vw;
}
.part8{
    width: auto;
    height: 95.7vw;
    position: absolute;
    margin-top:-0.8vw;
    left: -15vw;
    z-index: 0;
}
.lt1{
    color: yellow;
    font-size: 5.5vw;
    text-align: center;
    font-family: 'Chakra Petch';
    position: absolute;
    margin-top: 20vw;
    left: 0vw;
    width: 100%;
    font-weight: 550;
}
.lt2{
    color: yellow;
    font-size: 5.5vw;
    text-align: center;
    font-family: 'Chakra Petch';
    position: absolute;
    margin-top: 34vw;
    left: 3vw;
    width: 100%;
    font-weight: 550;
}
.lt3{
    color: yellow;
    font-size: 5.5vw;
    text-align: center;
    font-family: 'Chakra Petch';
    position: absolute;
    margin-top: 43vw;
    left: -5vw;
    width: 100%;
    font-weight: 550;
}
.share{
    width: auto;
    height: 5vw;
    position: absolute;
    left: 42vw;
    margin-top: 60vw;
}
.foot{
    background-color: rgb(0, 0, 0);
    height: 16.44vw;
    width: auto;
    z-index: 3;
}
.tfoot{
    color: white;
    position: absolute;
    font-family: 'Chakra Petch';
    font-size: 1.3vw;
    margin-top:6vw;
    left: 30vw;
    z-index: 3;
}




  
